
<div class="container-fluid">
    <div class="row">
        <img _ngcontent-bsc-c64="" src="https://media.discordapp.net/attachments/1079420055776940043/1094533626303094784/image_57.png?width=728&height=662" 
        alt="coconut" 
        style="width: 604px; height: 549px; object-fit: cover;">
    </div>
    <div class="row">
        <div class="col" style="margin-top: 35px;">
            <img _ngcontent-bsc-c64="" src="https://media.discordapp.net/attachments/1079420055776940043/1094533626567327844/image_58.png?width=237&height=222" 
            alt="coconut">
        
            <img _ngcontent-bsc-c64="" src="https://media.discordapp.net/attachments/1079420055776940043/1094533626793836594/image_59.png?width=240&height=227" 
            alt="coconut">
        
            <img _ngcontent-bsc-c64="" src="https://media.discordapp.net/attachments/1079420055776940043/1094533627066458192/image_60.png?width=240&height=227" 
            alt="coconut">
        </div>       
    </div>
</div>