<div class="carousel-container carousel-box">
  <div id="carouselExampleDark" class="carousel slide" data-bs-ride="true">
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleDark"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleDark"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleDark"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <a href="/market/1">
          <img
            src="https://images.unsplash.com/photo-1572402123736-c79526db405a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fG1hcmtldHxlbnwwfHwwfHw%3D&w=1000&q=80"
            class="d-block w-100"
            alt="..."
          />
          <div class="carousel-caption d-none d-md-block">
            <h5>Market1 ตลาดนัดจตุจักร</h5>
            <p>Some Where In da worlddd</p>
          </div>
        </a>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <a href="/market/2">
          <img
            src="https://www.wien.info/resource/image/291944/3x2/832/561/d9e13d14a4702829997cedcdb44abf84/8C2C66F2E0C3A3FF5A91A41AD9C6AFC9/50810-karmelitermarkt-markt-maerkte-obst-gemuese-outdoor.webp"
            class="d-block w-100"
            alt="..."
          />
          <div class="carousel-caption d-none d-md-block">
            <h5>market2 ตลาดนัดเรียบด่วน</h5>
            <p>Some Where In da worlddd!</p>
          </div></a
        >
      </div>
      <div class="carousel-item">
        <a href="/market/-">
          <img
            src="https://static.toiimg.com/thumb/msid-84108667,width-748,height-499,resizemode=4,imgsize-1135574/.jpg"
            class="d-block w-100"
            alt="..."
          />
          <div class="carousel-caption d-none d-md-block">
            <h5>market3 ตลาดนัดรถไฟศรีนครินทร์</h5>
            <p>Some Where In ttttda worlddd!</p>
          </div>
        </a>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleDark"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleDark"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
