img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  /* opacity: 0.9; */
}

.carousel-box {
  background-color: white;
  padding: 32px 32px;
}

.carousel-caption {
  color: white;
  background-color: rgb(62, 62, 62);
  width: fit-content;
  padding: 16px;
  border-radius: 15px;
  opacity: 0.8;
  margin: auto;
}

.carousel-caption h5,
.carousel-caption p {
  font-size: 32px;
  width: fit-content;
  margin: auto;
}