<div class="canvas">
  <div class="container-fluid bg-white box">
    <div class="heading">สมาชิกผู้ก่อตั้ง</div>
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-12 col-md-4 col-sm-4 col-xl-4 col-lg-4 col-xxl-4">
          <span class="d-flex">
            <div class="m-auto">
              <a href="https://www.instagram.com/g.geeeeeeeeee/">
                <img src="https://cdn.discordapp.com/attachments/1079420055776940043/1098442433471201350/IMG_4106.jpg"
                  class="rounded-circle" alt="นางสาวญาสุมินทร์ แก้วนวน" />
              </a>
              <div class="detail">นางสาวญาสุมินทร์ แก้วนวน</div>
            </div>
          </span>
        </div>
        <div class="col-12 col-md-4 col-sm-4 col-xl-4 col-lg-4 col-xxl-4">
          <span class="d-flex">
            <div class="m-auto">
              <a href="https://www.instagram.com/yahdahi/">
                <img src="https://cdn.discordapp.com/attachments/1079420055776940043/1098444716443439184/S__3522574.jpg"
                  class="rounded-circle" alt="นางสาวรินลดา รินทา" />
              </a>

              <div class="detail">นางสาวรินลดา รินทา</div>
            </div>
          </span>
        </div>
        <div class="col-12 col-md-4 col-sm-4 col-xl-4 col-lg-4 col-xxl-4">
          <span class="d-flex">
            <div class="m-auto">
              <a href="https://www.instagram.com/atip_nasakunn/">
                <img
                  src="https://cdn.discordapp.com/attachments/865649736722939924/1098418701272875138/LINE_ALBUM_1_230420.jpg"
                  class="rounded-circle" alt="นายอธิป นาสกุล" />
              </a>
              <div class="detail">นายอธิป นาสกุล</div>
            </div>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="contact-box">
    <div class="container-fluid bg-white contact-space">
      <p class="title margin text-center">Join Our News Letters</p>
      <br />
      <p class="text-center text-muted">
        Leverage agile frameworks to provide a robust synopsis for high level
        overviews. <br />
        Iterative approaches to corporate strategy foster
      </p>

      <div class="d-flex">
        <div class="m-auto w-100">
          <div class="input-group">
            <input type="text" placeholder="Insert your email here" aria-describedby="basic-addon1"
              class="form-control" />
            <button id="basic-addon1" class="input-group-text">
              <i aria-hidden="true" class="fa fa-search"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>