<div class="row container">
    <div class="col-md-4">
        <img
            src="https://media.discordapp.net/attachments/810406141531783198/1094872670203560016/91961b3db4f657d7.jpg?width=239&height=426 "
            jsaction="VQAsE"
            class="r48jcc pT0Scc iPVvYb rounded-circle d-block"
            style="width: 100%"
            alt="ญาสุมินทร์ แก้วนวน"
            jsname="kn3ccd"
            width="400"
            height="400"
        /><br/>
        <p class="text-center">นางสาวญาสุมินทร์ แก้วนวน</p>
    </div>
    <div class="col-md-4">
        <img
            src="https://media.discordapp.net/attachments/810406141531783198/1094872842866274445/490943aeb35ae8fb.jpg?width=375&height=426"
            jsaction="VQAsE"
            class="r48jcc pT0Scc iPVvYb rounded-circle d-block"
            style="width: 100%"
            alt="รินลดา รินทา"
            jsname="kn3ccd"
            width="400"
            height="400"
        /><br/>
        <p class="text-center">นางสาวรินลดา รินทา</p>
    </div>
    <div class="col-md-4">
        <img
            src="https://media.discordapp.net/attachments/810406141531783198/1094872165691686932/35d2d313bac1a47b.jpg?width=895&height=671"
            jsaction="VQAsE"
            class="r48jcc pT0Scc iPVvYb rounded-circle d-block"
            style="width: 100%"
            alt="อธิป นาสกุล"
            jsname="kn3ccd"
            width="400"
            height="400"
        /><br/>
        <p class="text-center">นายอธิป นาสกุล</p>
    </div>
</div>

<div>
    <p class="title margin text-center">Join Our News Letters</p><br/>
    <p class="text-center">Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster </p>
    <div _ngcontent-ldj-c16="" class="col-7"><div _ngcontent-ldj-c16="" class="input-group ">
        <input _ngcontent-ldj-c16="" type="text" placeholder="Insert your email here" aria-describedby="basic-addon1" class="form-control">
        <button _ngcontent-ldj-c16="" id="basic-addon1" class="input-group-text ">
            <i _ngcontent-ldj-c16="" aria-hidden="true" class="fa fa-search"></i>
        </button>
        
    </div>
</div>

