<nav class="navbar navbar-light bg-light p-0">
  <div class="container-fluid p-0">
    <div class="bg-white w-100 logo d-flex">
      <a class="navbar-brand my-auto" href="#">PAIMARKET</a>
    </div>
    <div class="container-fluid" style="background-color: #f4f7f8">
      <div class="row menu">
        <div
          class="col-3 d-flex align-items-center justify-content-between menu-list"
        >
          <a href="/market" class="my-auto">Market</a>
          <a href="/shop">Shop</a>
          <a href="/about">About</a>
          <a href="/blog">Blog</a>
          <a href="/contact">Contact</a>
        </div>
        <div class="col-7">
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              placeholder="Search What you need"
              aria-describedby="basic-addon1"
            />
            <button class="input-group-text" id="basic-addon1">
              <i class="fa fa-search" aria-hidden="true"></i>
            </button>
          </div>
        </div>
        <div class="col-2 d-flex align-items-center justify-content-between">
          <img
            src="../../../../assets/icons/Heart.svg"
            alt="heart"
            class="icon"
          />
          <img
            src="../../../../assets/icons/NotificationBell.svg"
            class="icon"
            alt="bell"
          />
          <img
            src="../../../../assets/icons/Cart.svg"
            class="icon"
            alt="cart"
          />
          <img
            src="../../../../assets/icons/UserProfile.svg"
            class="icon"
            alt="profile"
          />
        </div>
      </div>
    </div>
  </div>
</nav>
