.margin {
    margin-top: 50px;   
}

.title {
    font-family: 'DM Sans', sans-serif;

    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: 0.005em;
}
.marginlil {
    margin-top: 20px;   
}
.size {
    position: absolute;
    font-size: 25px;
    left: 106px;
    top: 365px;
}
.filter {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 378px;
    top: 370px;
}