<div class="text-center">
    <div class="row">
        <div class="col-md-3 margin">
            <p>test</p>
            <input _ngcontent-niy-c23="" type="text" placeholder="Search products" aria-describedby="basic-addon1" class="form-control">
            <button _ngcontent-niy-c23="" id="basic-addon1" class="input-group-text"><i _ngcontent-niy-c23="" aria-hidden="true" class="fa fa-search"></i></button>
        </div>
        <div class="col-md-9 margin">
            <app-shop></app-shop>
        </div>
    </div>
</div>
