<div claas="container w-50">
  <div class="d-flex justify-content-center align-items-center input-gap">
    <img
      src="../../../assets/icons/PAIMARKET.svg"
      class="text-center"
      alt="SVG Image"
    />
  </div>
  <div style="width: 700px">
    <div class="row">
      <div class="col-6 input-gap">
        <label class="form-label text-muted">Firstname</label>
        <input type="text" class="form-control input-text-market" />
      </div>
      <div class="col-6 input-gap">
        <label class="form-label text-muted">Lastname</label>
        <input type="text" class="form-control input-text-market" />
      </div>
      <div class="col-6">
        <label class="form-label text-muted">Phone</label>
        <input type="text" class="form-control input-text-market input-gap" />
        <label class="form-label text-muted">Username</label>
        <input type="text" class="form-control input-text-market input-gap" />
        <label class="form-label text-muted">Password</label>
        <input type="text" class="form-control input-text-market input-gap" />
      </div>
      <div class="col-6">
        <label class="form-label text-muted">Address</label>

        <textarea
          class="form-control input-text-market"
          style="
            resize: none;
            font-size: 16px;
            line-height: 1.5;
            height: calc(100% - 45px);
          "
        ></textarea>
      </div>
      <div class="col-12 input-gap">
        <label class="form-label text-muted">Email</label>
        <input type="text" class="form-control input-text-market input-gap" />
      </div>
    </div>
    <div class="d-flex justify-content-center align-items-center input-gap">
      <button class="button">Register</button>
    </div>
    <div class="d-flex justify-content-center align-items-center">
      Have an account?&nbsp;<a href="/login" class="main-color"> Log In</a>
    </div>
    <div class="d-flex justify-content-center align-items-center">
      <a href="/" class="text-muted">Back To Market</a>
    </div>
  </div>
</div>
