<div>
  <div class="footer-content">
    <div class="row">
      <div class="col">
        <div class="logo">PAIMARKET</div>
      </div>
      <div class="col">
        <p class="subtitle">
          Contact Us <br /><br />
          KING MONGKUT'S UNIVERSITY OF TECHNOLOGY NORTH BANGKOK 1518 Pracharat 1
          Road,Wongsawang, Bangsue,Bangkok 10800 <br />
          Tell: +66 2 555-2000<br />
          Email:contact@op.kmutnb.ac.th
        </p>
      </div>
      <div class="col">
        <div class="icon-container">
          <div class="icon-circle">fb</div>
          <div class="icon-circle">ig</div>
          <div class="icon-circle">yb</div>
          <div class="icon-circle">tw</div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-banner">
    <div class="text-banner">Copyright @2022 PAIMARKET.COM</div>
  </div>
</div>
