<div>
  <div class="row gx-0">
    <div class="col-12 col-lg-6 col-xs-12 col-sm-12">
      <div class="input-group mb-3">
        <span class="my-auto text-search">ค้นหา &nbsp;</span>
        <input
          type="text"
          class="form-control"
          placeholder="searchBar"
          aria-describedby="basic-addon1"
        />
        <button class="input-group-text" id="basic-addon1">
          <i class="fa fa-search" aria-hidden="true"></i>
        </button>
      </div>
    </div>
    <div class="col-12 col-lg-6 col-xs-12 col-sm-12 m-auto text-end">
      <a href="#">คำค้นหายอดนิยม1</a> / <a href="#">คำค้นหายอดนิยม2</a> /
      <a href="#">คำค้นหายอดนิยม3</a>
    </div>
  </div>

  <app-carousel></app-carousel>
  <hr />
  <app-recommend-shop></app-recommend-shop>
  <hr />
  <app-components-home></app-components-home>
</div>
