<div _ngcontent-gfp-c64="" class="container-fluid bg-white canvas">
  <div class="row">
    <div class="col-md-4">
      <div class="d-flex" style="margin-left: 112px; margin-top: 15px">
        <div class="m-auto w-100">
          <div class="input-group marginlil">
            <input
              type="text"
              placeholder="Search products"
              aria-describedby="basic-addon1"
              class="form-control"
              width="296px"
            />
            <button id="basic-addon1" class="input-group-text">
              <i aria-hidden="true" class="fa fa-search"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <p class="title text-center">{{ title }}</p>
    </div>
  </div>
</div>
