<div class="container-fluid bg-white canvas">
  <div class="row justify-content-center" style="padding: 0px 112px">
    <div class="col-4" style="margin-top: 40px">
      <span class="input-group w-100">
        <input
          type="text"
          placeholder="Search products"
          aria-describedby="basic-addon1"
          class="form-control"
          width="296px"
        />
        <button id="basic-addon1" class="input-group-text">
          <i aria-hidden="true" class="fa fa-search"></i>
        </button>
      </span>
    </div>
    <div class="col-8">
      <p class="title text-center" style="padding: 32px; margin: 0px">
        {{ title }}
      </p>
    </div>
  </div>
</div>
