.footer-banner {
  background-color: #ffffff;
  height: 60px;
  width: 100%;
  position: relative;
  left: 0;
  bottom: 0;
}

.icon-container {
  display: flex;
  gap: 4px;
}



.copyright {
  background-color: #5F1E03;
  width: 100%;
  height: 60px;
  color: white;
  font-weight: bold;
  font-size: 12px;
}

.icon-circle {
  background-color: #5F1E03;
  border-radius: 100%;
  cursor: pointer;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  color: white;
  font-weight: bold;
  align-items: center;
}

.footer-content {
  background-color: white;
  padding: 32px 0px 0px 32px;
}

.footer-container {
  padding: 32px;
}

.subtitle {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0.005em;
  /* padding: 0px 0px 24px 32px; */
}


/* mobile */
@media (max-width: 575.98px) {
  .logo {
    color: #5F1E03;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 120%;
    letter-spacing: 0.003em;
    padding-left: 0px;
  }

  .banner {
    background-color: white;
    padding: 16px;
  }
}

/* tablet or ipad */
@media (min-width: 768px) {
  .logo {
    color: #5F1E03;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 120%;
    letter-spacing: 0.003em;
    /* padding-left: 56px; */
  }

  .banner {
    background-color: white;
    padding: 64px 64px 32px 64px;
  }
}

/* mac */
@media (min-width: 1199.98px) {
  .logo {
    color: #5F1E03;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 120%;
    letter-spacing: 0.003em;
    padding-left: 30px;

  }

  .banner {
    background-color: white;
    padding: 64px 64px 32px 64px;
  }
}

/* pc */
@media (min-width: 1399.98px) {
  .logo {
    color: #5F1E03;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 120%;
    letter-spacing: 0.003em;
    padding-left: 56px;
  }

  .banner {
    background-color: white;
    padding: 64px 64px 32px 64px;
  }
}