<div class="container-fluid contact-box">
    <div class="bg-white contact-space">
        <p class="font address">Delivery Address</p>
        <div class="row">
            <div class="col">
                <div class="row">
                    <p class="font name">ชื่อผู้ใช้</p>
                </div>
                <div class="row">
                    <p class="font name">เบอร์โทรศัพท์</p>
                </div>
            </div>
            <div class="col">
                <p class="font name">ห้อง k713 104 อาคารศรีสันติธรรม2 ซอยวงศ์สว่าง 7 ถนนวงศ์สว่าง แขวงวงศ์สว่าง เขตบางซื่อ กทม 10800 โทร 0910450800, Bang Sue, Bangkok, 10800</p>
            </div>
            <div class="col">
                <p class="font name change">เปลี่ยนที่อยู่</p>
            </div>
        </div>
    </div><br/>
    <div class="bg-white contact-space">
        <p>Product Ordered</p><br/>
        <div class="row">
            <div class="col-md-2">
                <img _ngcontent-vcr-c81="" _ngcontent-bsc-c64=""
                    src="https://media.discordapp.net/attachments/1079420055776940043/1094533627066458192/image_60.png?width=240&amp;height=227" 
                    alt="coconut"
                    class="img">
            </div>
            <div class="col-md-10">
                <p class="namePro">ชื้อสินค้า</p>
                <p class="price">TBH99</p>
                <p class="que">Quantity     :     -     5     +</p>
                <button _ngcontent-rud-c78="" onclick="history.go(1)" class="bottonbin bg-white">  
                    <img src="https://img.icons8.com/external-neu-royyan-wijaya/32/FD7E14/external-bin-neu-interface-neu-royyan-wijaya-2.png"
                    class="icon"/>
                </button>
                <button _ngcontent-rud-c78="" onclick="history.go(1)" class="botton bg-white"> Wishlist 
                    <img src="https://img.icons8.com/material-outlined/24/FD7E14/like--v1.png"
                    class="icon"/>
                </button>
            </div><hr/>
            <div>
                <p Align=right>Merchandise Subtotal: &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;THB99</p>
                <p Align=right>shipping Total: &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; THB0</p>
                <p Align=right>Total Payment: &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;THB99</p>
            </div>
                <div align="right">
                    <button _ngcontent-slo-c82="" onclick="history.go(1)" class="orderBut"> Place Order </button>
                </div>
        </div>
    </div>
</div>