
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="row margin">
                <div class="col-md-4">
                    <app-produce></app-produce>
                </div>
                <div class="col-md-4">
                    <app-produce></app-produce>
                </div>
                <div class="col-md-4">
                    <app-produce></app-produce>
                </div>
            </div>
            <div class="row margin">
                <div class="col-md-4">
                    <app-produce></app-produce>
                </div>
                <div class="col-md-4">
                    <app-produce></app-produce>
                </div>
                <div class="col-md-4">
                    <app-produce></app-produce>
                </div>
            </div>
            <div class="row margin">
                <div class="col-md-4">
                    <app-produce></app-produce>
                </div>
                <div class="col-md-4">
                    <app-produce></app-produce>
                </div>
                <div class="col-md-4">
                    <app-produce></app-produce>
                </div>
            </div>
        </div>
    </div>
</div>

