<div class="container-fluid bg-white">
  <div class="row" style="padding: 0px 120px">
    <div class="col">
      <p class="title text-center" style="padding: 32px">Blog</p>
      <hr />
      <p>All Posts</p>
      <div class="container-fluid p-0">
        <div class="row gy-5">
          <app-blog [id]="1" />
          <app-blog [id]="2" />
          <app-blog [id]="3" />
          <app-blog [id]="4" />
        </div>
      </div>

      <div class="margin">
        <p class="text-center">
          The home of your favorite items We founded PAIMARKET with one goal in
          mind: providing high-quality, carefully developed products, made for
          everyone. Our passion for excellence has driven us from the beginning
          and continues to propel us going forward. We know that every item
          counts, and strive to make your entire shopping experience as
          rewarding as possible. Don't settle for anything but the best—check us
          out for yourself.
        </p>
      </div>
    </div>
  </div>
</div>
