.MARKET{
    position: absolute;
    width: 551px;
    height: 58px;
    left: 439px;
    top: 346px;
}

.Heading:H2 Bold{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;
}
/* identical to box height, or 58px{
    text-align: center;
    letter-spacing: 0.005em;
} */

Light/Text Color/Title{
    color: #11142D;
}


