<div class="card">
  <img src="https://img.icons8.com/ios-glyphs/30/FD7E14/hearts.png" class="icon" />
  <a routerLink="{{href}}">
    <img src="https://media.discordapp.net/attachments/1079420055776940043/1094533306256732190/image_43.png"
      alt="Denim Jeans" class="img rounded mx-auto d-block" /></a>
  <a routerLink="{{href}}">
    <h1 class="color1">{{product.productName}}</h1>
    <p class="color2">{{product.productDescribe}}</p>
  </a>
  <p><span style="color: #f3692e">{{product.productPrice}} ฿</span></p>
  <p><span style="color: #f3692e">{{product.productQty}}</span> ชิ้น</p>

</div>
<div class="input-group mb-3">
  <button class="btn" (click)="minus()">-</button>
  <input type="number" min="1" max="6" class="form-control" [value]="value" />
  <button class="btn" (click)="plus()">+</button>
</div>