<div class="card w-100 h-100">
  <div class="box">dsa
    <img (click)="like()" [src]="img" class="like-icon" alt="like" />



    <div class="content">
      <a routerLink="{{ href }}">
        <img [src]="product.productCoverImg" style="width: 100%;height: 320px;object-fit: cover;" alt="Denim Jeans"
          class="img rounded mx-auto d-block" /></a>
      <a routerLink="{{ href }}">
        <h1 class="color1">{{ product.productName }}</h1>
        <p class="color2">{{ product.productDescribe }}</p>
      </a>
      <p>
        <span style="color: #f3692e">{{ product.productPrice }} ฿</span>
      </p>
    </div>
  </div>
</div>