.card {
  text-align: center;
  font-family: DM Sans, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0.005em;
}

.content {
  padding: 32px;
}

.box {
  position: relative;
}

.like-icon {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.float {
  position: absolute;
  bottom: 24px;
  right: 24px;
}

.img {
  width: 173px;
  height: 206px;
}

.icon {
  width: 23px;
  height: 23px;
}

.color {
  color: #f3692e;
}

.color1 {
  color: black;
}

.color2 {
  color: #9a9ab0;
}

a {
  text-decoration: none;
}
