
<div class="text-center">
    <h1 class="title">THE STORY PAIMARKET</h1>
    <p class="margin">There’s so much in store
        PAIMARKET is a trendsetting ร้านค้าออนไลน์, offering first-rate products and exceptional customer service to shoppers from all over the world.
         We’re a business made up of innovators and forward-thinkers, with the drive to constantly update and improve your shopping experience. Our name has become synonymous with quality, 
         sustainability and reliability. We are proud to have produced years of happy customers and look forward to continuing our work for many more to come! 
         Browse our site to explore our extensive selection and subscribe to stay in the know about special offers and discounts!
    </p>
    <h2 class="marginMid">THE TEAM</h2>
    <p class="margin">Get to know us
        We believe that great companies stem from great employees. With our talented staff running the show and operating our online services, 
        we’re confident that you’ll get great products and honest recommendations every time you shop at our store. Learn more about our amazing team below.
    </p>
    <div class="col-md-6 marginMid container">
        <img
            src="https://palanla.com/ckeditor/upload/files/id37/domestic_location/Srinagarindra%20Train%20Night%20Market/001.jpg"
            jsaction="VQAsE"
            class="r48jcc pT0Scc iPVvYb d-block"
            style="width: 100%"
            alt="ตลาดนัดรถไฟ ศรีนครินทร์"
            jsname="kn3ccd"
        /><br/>
        <p class="text-center">Paimarket</p>
    </div>


</div>
