.title {
    font-family: 'DM Sans', sans-serif;

    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: 0.005em;
}

.marginMid {
    margin-top: 100px;
}

.margin {
    margin-top: 40px;
}

.circle {
    border-radius: 50%;
}


/* mobile */
@media (max-width: 575.98px) {
    .box {

        padding: 64px 32px;
    }
}

/* tablet or ipad */
@media (min-width: 768px) {
    .box {

        padding: 64px 64px;
    }
}

/* mac */
@media (min-width: 1199.98px) {
    .box {

        padding: 64px 150px;
    }
}

/* pc */
@media (min-width: 1399.98px) {
    .box {

        padding: 64px 300px;
    }
}