.input-gap {
  margin-bottom: 16px;
}

.button {
  border-radius: 10px;
  padding: 8px 72px 8px 72px;
  background-color: #5F1E03;
  color: #ffffff;
  border: none;
}

/* mobile */
@media (max-width: 575.98px) {
  .login-container {}
}

/* tablet or ipad */
@media (min-width: 768px) {
  .login-container {
    width: 450px
  }
}

/* mac */
@media (min-width: 1199.98px) {
  .login-container {
    width: 450px
  }
}

/* pc */
@media (min-width: 1399.98px) {
  .login-container {
    width: 450px
  }
}