<div claas="container w-50">
  <div class="d-flex justify-content-center align-items-center input-gap">
    <img src="../../../assets/icons/PAIMARKET.svg" class="text-center" alt="SVG Image" />
  </div>
  <div class="login-container">
    <div class="row input-gap">
      <div class="col-12 input-gap text-muted">
        <label class="form-label">Username</label>
        <input type="text" [(ngModel)]="username" class="form-control input-text-market" />
      </div>
      <div class="col-12 input-gap text-muted">
        <label class="form-label">Password</label>
        <input type="password" [(ngModel)]="password" class="form-control input-text-market" />
      </div>
    </div>
    <div class="d-flex justify-content-center align-items-center input-gap">
      <button class="button" (click)="login()">Login</button>
    </div>
    <div class="d-flex justify-content-center align-items-center">
      New to PaiMarket?&nbsp;
      <a routerLink="/register" class="main-color">Sign up</a>
    </div>
  </div>
</div>