<div claas="container w-50">
  <div class="d-flex justify-content-center align-items-center input-gap">
    <img
      src="../../../assets/icons/PAIMARKET.svg"
      class="text-center"
      alt="SVG Image"
    />
  </div>
  <div class="login-container">
    <div class="row input-gap">
      <div class="col-12 input-gap text-muted">
        <label class="form-label">Username</label>
        <input
          type="text"
          [(ngModel)]="username"
          class="form-control input-text-market"
        />
      </div>
      <div class="col-12 input-gap text-muted">
        <label class="form-label">Password</label>
        <input
          type="text "
          [(ngModel)]="password"
          class="form-control input-text-market"
        />
      </div>
    </div>
    <div class="d-flex justify-content-center align-items-center input-gap">
      <button class="button" (click)="login()">Login</button>
    </div>
    <div class="d-flex justify-content-center align-items-center">
      New to PaiMarket?&nbsp;
      <a href="/register" class="main-color">Sign up</a>
    </div>
    <div class="d-flex justify-content-center align-items-center">
      <a href="/" class="text-muted">Back To Market</a>
    </div>
    <div>
      <button type="button" class="btn btn-primary" id="liveToastBtn">
        Show live toast
      </button>

      <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div
          id="liveToast"
          class="toast"
          role="alert"
          aria-live="assertive"
          aria-atomic="true"
        >
          <div class="toast-header">
            <!-- <img src="..." class="rounded me-2" alt="..." /> -->
            <strong class="me-auto">Bootstrap</strong>
            <small>11 mins ago</small>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="toast"
              aria-label="Close"
            ></button>
          </div>
          <div class="toast-body">Hello, world! This is a toast message.</div>
        </div>
      </div>
    </div>
  </div>
</div>
