<div class="container-fluid bg-white contact-space contact-box">
  <div class="row">
    <p class="title">
      ตลาดนัดสวนจตุจักร > shop > Coco.nut_katiishappy > Coconutky
    </p>
  </div>
  <div class="row">
    <div class="col">
      <div class="row">
        <img
          _ngcontent-bsc-c64=""
          src="https://media.discordapp.net/attachments/1079420055776940043/1094533626303094784/image_57.png?width=728&height=662"
          alt="coconut"
          style="width: 604px; height: 549px; object-fit: cover"
        />
      </div>
      <div class="row">
        <div class="col" style="margin-top: 10px">
          <img
            _ngcontent-bsc-c64=""
            src="https://media.discordapp.net/attachments/1079420055776940043/1094533626567327844/image_58.png?width=237&height=222"
            alt="coconut"
            class="img"
          />

          <img
            _ngcontent-bsc-c64=""
            src="https://media.discordapp.net/attachments/1079420055776940043/1094533626793836594/image_59.png?width=240&height=227"
            alt="coconut"
            class="img"
          />

          <img
            _ngcontent-bsc-c64=""
            src="https://media.discordapp.net/attachments/1079420055776940043/1094533627066458192/image_60.png?width=240&height=227"
            alt="coconut"
            class="img"
          />
        </div>
      </div>
    </div>
    <div class="col">
      <div class="row font">
        <p class="Coconutky">Coconutky</p>
        <p class="Price">THB99</p>
        <p class="DetailsProduct">Details Product</p>
        <p class="Description">
          เวลาพูดถึงเมืองไทย คนมักคิดถึงชายหาด วัดวาอาราม และชีวิตกลางคืน
          แต่อย่าลืมว่ามะพร้าวก็เป็นสิ่งที่คนทั่วโลกชื่นชอบไม่แพ้กัน
          จดีย์สีทองอร่ามและอารามแสนงดงามอาจจะเป็นสัญลักษณ์แห่งความรุ่งเรืองทางวัฒนธรรม
          แต่ไม่มีอะไรชวนให้นึกถึงสวรรค์ริมทะเลเขตร้อนไปมากกว่าต้นมะพร้าวที่เรียงรายตามชายหาดสมุยและภูเก็ต
          ในกรุงเทพฯ ผลไม้จากชายหาดชนิดนี้หาทานได้แทบทุกที่
          ไม่ว่าจะเป็นแผงริมถนนที่คนขายจะเฉาะให้ดูแบบสด ๆ
          รถเข็นที่วนไปตามถนนหนทาง หรือในภัตตาคารติดแอร์
        </p>
      </div>
      <div class="row">
        <a routerLink="/cart/1">
          <div class="col">
            <button onClick="history.go(1)" class="botton">Add to Cart</button>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

<!-- หน้านี้แหละ ตัวหนังสือมันซ้อนกันอ่ะ จริงๆเค้าสร้าง component ชื่อ img และ Description แล้วเอามาใส่ มันก็ยังซ้อนกันอยู่ อันที่ซ้อนอ่ะ คือ แถวของปุ่มมันซ้อนกัน Description -->
