<div class="container-fluid bg-white contact-space contact-box">
    <div class="row ">
        <p class="title">ตลาดนัดสวนจตุจักร > shop  > Coco.nut_katiishappy  > Coconutky</p>
    </div>
    <div class="row">
        <div class="col">
            <app-img></app-img>
        </div>
        <div class="col">
            <app-description></app-description>
            <p style="margin-top: 200px;">Quantity :</p>
            <div class="input-setting">
                <div class="input-group mb-3">
                    <button class="btn btncreate" (click)="minus()">-</button>
                    <input type="text" class="form-control text-center" [value]="value"/>
                    <button class="btn btncreate" (click)="plus()">+</button>
                </div>
            </div>
              
            <div>
                <button _ngcontent-rud-c78="" onclick="history.go(1)" class="Wishlist"> Wishlist
                    <img src="https://img.icons8.com/ios/50/5f1e03/like--v1.png"
                    class="icon"/>
                </button>
                <button _ngcontent-rud-c78="" onclick="history.go(1)" class="add"> Add to Cart
                    <img src="https://img.icons8.com/external-smashingstocks-detailed-outline-smashing-stocks/66/FFFFFF/external-add-to-cart-shopping-and-commerce-smashingstocks-detailed-outline-smashing-stocks.png"
                    class="icon"/>
                </button>
                <a href="cart/1">
                    <button _ngcontent-rud-c78="" onclick="history.go(1)" class="plzOrder"> Place Order</button>
                </a>
            </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="row font">
        <p class="Coconutky">Coconutky</p>
        <p class="Price">THB99</p>
        <p class="DetailsProduct">Details Product</p>
        <p class="Description">
          เวลาพูดถึงเมืองไทย คนมักคิดถึงชายหาด วัดวาอาราม และชีวิตกลางคืน
          แต่อย่าลืมว่ามะพร้าวก็เป็นสิ่งที่คนทั่วโลกชื่นชอบไม่แพ้กัน
          จดีย์สีทองอร่ามและอารามแสนงดงามอาจจะเป็นสัญลักษณ์แห่งความรุ่งเรืองทางวัฒนธรรม
          แต่ไม่มีอะไรชวนให้นึกถึงสวรรค์ริมทะเลเขตร้อนไปมากกว่าต้นมะพร้าวที่เรียงรายตามชายหาดสมุยและภูเก็ต
          ในกรุงเทพฯ ผลไม้จากชายหาดชนิดนี้หาทานได้แทบทุกที่
          ไม่ว่าจะเป็นแผงริมถนนที่คนขายจะเฉาะให้ดูแบบสด ๆ
          รถเข็นที่วนไปตามถนนหนทาง หรือในภัตตาคารติดแอร์
        </p>
      </div>
      <div class="row">
        <a routerLink="/cart/1">
          <div class="col">
            <button onClick="history.go(1)" class="botton">Add to Cart</button>
          </div>
        </a>
      </div>
    </div>




