
<div class="container-fluid bg-white contact-space">
    <div class="row bg-white contact-space">
        <p>ตลาดนัดสวนจตุจักร > shop  > Coco.nut_katiishappy  > Coconutky</p>
    </div>
    <div class="row">
        <div class="col">
            <app-img></app-img>
        </div>
        <div class="col">
            <div class="row">
                <app-description></app-description>
            </div>
            <div class="row">
                <!-- row นี้เพลียมาก แสดงบนหน้าจอคนละจุดหมดเลย -->
                <div class="col">
                    <div class="row">
                        Quantity
                    </div>
                    <div class="row">
                    <a href="/cart/1">
                        <div class="col">
                            <button onClick = "history.go(1)" class="botton"> Add to Cart </button>
                        </div>
                    </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
