/* mobile */
@media (max-width: 575.98px) {
  .box {
    margin: 32px 16px
  }
}

/* tablet or ipad */
@media (min-width: 768px) {
  .box {

    margin: 32px 64px
  }
}

/* mac */
@media (min-width: 1199.98px) {
  .box {

    margin: 32px 120px
  }
}

/* pc */
@media (min-width: 1399.98px) {
  .box {
    margin: 32px 120px;

  }
}