.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 280px;
    max-height: 334px;
    text-align: center;
    font-family: arial;
  }

  .img {
    width: 173px;
    height: 206px;
  }
  .icon {
    width: 23px;
    height: 23px;
  }