.Coconutky {
  width: 334px;
  height: 74px;
  left: 824px;
  top: 362px;
  color: #333333;
  font-size: 74px;
}
.font {
  font-family: 'DM Sans';
  font-style: normal;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.003em;
}
.Price {
  color: #f86338;
  font-size: 62px;
}
.DetailsProduct {
  color: #11142d;
  font-size: 24px;
}
.Description {
  color: #9a9ab0;
  font-size: 16px;
}
