
<div class="font">
    <p class="Coconutky ">Coconutky</p>
    <p class="Price ">THB99</p>
    <p class="DetailsProduct ">Details Product</p>
    <p class="Description ">เวลาพูดถึงเมืองไทย คนมักคิดถึงชายหาด วัดวาอาราม และชีวิตกลางคืน 
        แต่อย่าลืมว่ามะพร้าวก็เป็นสิ่งที่คนทั่วโลกชื่นชอบไม่แพ้กัน 
        เจดีย์สีทองอร่ามและอารามแสนงดงามอาจจะเป็นสัญลักษณ์แห่งความรุ่งเรืองทางวัฒนธรรม 
        แต่ไม่มีอะไรชวนให้นึกถึงสวรรค์ริมทะเลเขตร้อนไปมากกว่าต้นมะพร้าวที่เรียงรายตามชายหาดสมุยและภูเก็ต ในกรุงเทพฯ 
        ผลไม้จากชายหาดชนิดนี้หาทานได้แทบทุกที่ ไม่ว่าจะเป็นแผงริมถนนที่คนขายจะเฉาะให้ดูแบบสด ๆ 
        รถเข็นที่วนไปตามถนนหนทาง หรือในภัตตาคารติดแอร์
    </p>
</div>
