body {
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
}

.input-text-market {
  border: none;
  background: #f4f4f4;
  border-radius: 10px;
}

.main-color {
  color: #5f1e03;
}

.bg-main-color {
  background-color: #5f1e03;
  color: white;
}

.bg-main-color:hover {
  color: white;
  background-color: #3e1402;
}