<div class="container-fluid bg-white">
  <div class="row border">
    <div class="col-md-6 p-0">
      <img
        src="https://media.discordapp.net/attachments/1079420055776940043/1094534035197407232/image_64.png"
        class="d-block"
        style="object-fit: cover; width: 100%"
        alt="Blog"
      />
    </div>
    <div class="col-md-6">
      <div class="container">
        <img
          src="https://media.discordapp.net/attachments/1079420055776940043/1094534035197407232/image_64.png"
          class="d-block rounded-circle Ellipse"
          alt="Blog"
          align="left"
        />
        Yasumin<br />1 นาทีผ่านไป
        <p class="titleblog">
          คู่มือเที่ยวตลาดนัดจตุจักร 2022 ของกินครบ เดินทางง่าย ถูกใจนักช็อป
        </p>
        <p class="blog">
          ใครที่มาตลาดนัดจตุจักร
          แล้วไม่เคยสั่งของกินหรือไม่เคยเดินผ่านร้านนี้อาจจะเรียกได้ว่ามาไม่ถึง
          เนื่องจากเป็นร้านที่ขายอาหารหลากหลายชนิด อยู่คู่กับตลาดนัดจตุจักรมานาน
          และได้รับความนิยมสูง
          เนื่องจากมีลูกค้าทั้งไทยและเทศต่อคิวเข้าร้านกันอย่างหนาแน่น
          <a [routerLink]="'/blog/' + id" class="link"> อ่านเพิ่มเติม</a>
        </p>
        <hr />
        <div class="col">
          <span>ดู 0 ครั้ง</span>
          <span>0 แสดงความคิดเห็น</span>
          <span>
            <img
              _ngcontent-hdg-c16=""
              src="../../../../assets/icons/Heart.svg"
              alt="heart"
              class="icon"
          /></span>
        </div>
      </div>
    </div>
  </div>
</div>
