<div class="container">
    <div class="row margin border ">
        <div class="col-md-6 ">
            <img
            src="https://media.discordapp.net/attachments/1079420055776940043/1094534035197407232/image_64.png"
            jsaction="VQAsE"
            class="r48jcc pT0Scc iPVvYb d-block"
            style="width: 100%"
            alt="Blog"
            jsname="kn3ccd"
            width="400"
            height="400"
            />
        </div>
        <div class="col-md-6">
            <div class="row margin lil">
                <div class="col ">
                    <img
                    src="https://media.discordapp.net/attachments/1079420055776940043/1094534035197407232/image_64.png"
                    jsaction="VQAsE"
                    class="r48jcc pT0Scc iPVvYb d-block rounded-circle Ellipse"
                    alt="Blog"
                    jsname="kn3ccd"
                    align=left hspace="10" vspace="10"/>Yasumin<br/>1 นาทีผ่านไป<br clear=left>
                </div>
            </div>
            <div class="row margin lil">
                <div class="col ">
                    <p class="titleblog">คู่มือเที่ยวตลาดนัดจตุจักร 2022 ของกินครบ เดินทางง่าย ถูกใจนักช็อป</p>
                    <p class="blog">ใครที่มาตลาดนัดจตุจักร แล้วไม่เคยสั่งของกินหรือไม่เคยเดินผ่านร้านนี้อาจจะเรียกได้ว่ามาไม่ถึง 
                        เนื่องจากเป็นร้านที่ขายอาหารหลากหลายชนิด อยู่คู่กับตลาดนัดจตุจักรมานาน และได้รับความนิยมสูง
                        เนื่องจากมีลูกค้าทั้งไทยและเทศต่อคิวเข้าร้านกันอย่างหนาแน่น</p>
                </div>
            </div>
            <div class="row margin"><hr/>
                <div class="col">
                    <p>ดู 0 ครั้ง  0 แสดงความคิดเห็น</p>
                    <img _ngcontent-hdg-c16="" src="../../../../assets/icons/Heart.svg" alt="heart" class="icon">
                </div>
            </div>
        </div>
    </div>

</div>