<div class="card card-box w-100 h-100">
  <img [src]="img" class="img" style="object-fit: cover;" [alt]="title + ' image'" />
  <div class="card-body spacer-box p-0">
    <div class="container-fluid">
      <div class="row">
        <div class="col-5 p-0">
          <a [href]="'market/' + marketId + '/shop/' + shopId">
            <img src="../../../assets/icons/topshopButton.svg" class="nextbtn" alt="" />
          </a>
        </div>
        <div class="col-7 p-0">
          <h5 class="text-title text-truncate text-start">{{ title }}</h5>
          <p class="card-text text-truncate text-start">{{ name }}</p>
        </div>
      </div>
    </div>
  </div>
</div>