<div class="card card-box">
  <img
    [src]="img"
    class="h-100"
    style="object-fit: cover"
    [alt]="title + ' image'"
  />
  <div class="card-body spacer-box p-0">
    <div class="container-fluid">
      <div class="row">
        <div class="col-5 p-0">
          <a [href]="'/shop/' + shopId">
            <img
              src="../../../assets/icons/topshopButton.svg"
              class="nextbtn"
              alt=""
            />
          </a>
        </div>
        <div class="col-7 p-0">
          <h5 class="text-title text-truncate text-start">{{ title }}</h5>
          <p class="card-text text-truncate text-start">{{ name }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
