<div class="container-fluid bg-white">
    <div class="row">
        <div class="col">
            <p class="title  text-center topp">ตลาดนัดสวนจตุจักร</p>
        </div>
    </div>
    <div class="row topp">
        <div class="col-md-6">
            <img
                src="https://cdn.discordapp.com/attachments/1079420055776940043/1095391606653321236/2351f6d3c313f525c4089bc84d2410bf.png"
                class="img" 
                alt="จตุจัตร"
                /> 
        </div>
        <div class="col-md-6">
            <p class="right" style="margin-right: 120px;">ตลาดจตุจักร เป็นตลาดที่กว้างใหญ่ ตั้งอยู่ใน เขตจตุจักร ของ กรุงเทพ มักเป็นที่รู้จักในนาม “ตลาดนัดสวนจตุจักร” เนื่องจากผู้ขายส่วนใหญ่เปิดให้บริการในวันเสาร์และวันอาทิตย์ ตลาดจตุจักร ไม่เพียงแต่เป็นตลาดที่ใหญ่ที่สุดในเมืองแต่ยังเป็นตลาดที่ใหญ่ที่สุดในประเทศไทยด้วย (และเป็นไปได้ว่าใหญ่ที่สุดในโลก) มีบูธขายสินค้าและอาหารมากมายกว่า 15,000 บูธ และคาดว่ามีคนมากกว่า 200,000 คนเข้ามาในตลาดทุกวันหยุดสุดสัปดาห์ ตลาดเป็นที่นิยมในหมู่คนท้องถิ่นและถือว่าเป็นแหล่งท่องเที่ยวที่ต้องไปเยือนสำหรับนักท่องเที่ยวเช่นกัน นี่คือทุกสิ่งที่ต้องรู้เพื่อการเดินทางที่ราบรื่นไปยังสถานที่สำคัญของ กรุงเทพ แห่งนี้

                ที่นี่เป็นสวรรค์ของนักช้อปอย่างแท้จริง แทบไม่มีขีดจำกัดว่าสามารถซื้ออะไรได้บ้าง ตราบใดที่เรายินดีที่จะเดินดู เราก็จะพบกับทุกสิ่งที่ต้องการและอีกมากมาย ค้นหาสิ่งที่ต้องการท่ามกลางบูธนับพันเป็นส่วนหนึ่งของประสบการณ์ เช่นเดียวกับการเปิดรับสิ่งของใหม่ๆที่ไม่เหมือนใครทุกชนิดที่ปรากฏขึ้นมาตลอดทาง ส่วนที่ดีที่สุดของการช้อปปิ้งที่ ตลาดจตุจักร คือสินค้าที่วางขายเกือบทั้งหมดขายในราคาถูกมากกว่าจะขายในราคานักท่องเที่ยวเหมือนตลาดที่อื่นๆในกรุงเทพ เป็นตลาดที่เหมาะสำหรับการมาซื้อของใช้จำเป็นและของที่ระลึกทุกประเภท</p>
        </div>
    </div>
</div>
